colorama==0.4.6
execnet==2.1.2
gherkin-official==29.0.0
greenlet==3.5.5
iniconfig==2.3.0
Mako==1.4.1
MarkupSafe==3.0.3
packaging==26.3
parse==1.22.1
parse_type==0.6.6
playwright==1.62.0
pluggy==1.6.0
pyee==13.0.1
Pygments==2.21.0
pytest==9.1.1
pytest-bdd==8.1.0
pytest-xdist==3.8.0
six==1.17.0
typing_extensions==4.16.0
